@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+1+Code:wght@100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Reem+Kufi+Fun:wght@400..700&family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  body {
    @apply bg-white;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
}

@layer components {
  .navlinks {
    @apply font-Siliguri  text-white text-[12px];
  }

  .checkAvaillbilityButtons {
    @apply bg-slate-800 text-white px-3 py-2  text-sm max-w-max;
  }

  .bookInput {
    @apply focus:outline-none bg-slate-100 px-3 text-sm border-b-[1px] border-gray-700;
  }
}
